body {
    background-color: rgb(10, 147, 151);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrap {
    max-width: 400px;
    height: 620px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 35%;
    border: 5px solid rgba(5, 62, 184, 0.301);
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    text-align: center;
    color: rgb(1, 23, 42);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    margin: 10px;
}

input {
    position: relative;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: rgb(32, 32, 36);
    font-weight: 600;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 40px;
    border: none;
    outline: none !important;
    background-color: rgb(185, 241, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: rgb(32, 32, 36);
    font-weight: 400;
    margin: 5px;
    margin-top: 20px;
    border-radius: 40px;
    border: none;
    outline: none !important;
    background-color: rgb(164, 214, 198);
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    border-radius: 40px;
    border: none;
    outline: none !important;
    background-color: rgb(72, 13, 128);
    color: white;
}

button:hover {
    background-color: rgb(59, 158, 125);
    color: rgb(253, 253, 255);
    cursor: pointer;
}

h5 {
    font-size: 14px;
    color: cornflowerblue;
    text-align: center;
    padding-top: 8px;
}

a:hover {
    color: rgb(72, 13, 128);
    text-decoration: none;
}

.error {
    color: rgb(95, 38, 148);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-top: -115px;
    margin-left: 20px;
    position: relative;
}